body{
    background-color: #D8D9D7;
}
/*todo lo referente al header*/
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6C6F73;
    color: #ffffff;
}

.logoHeader img{
    height: 120px;
    width: 120px;
}
.menu a{
    color: #ffffff;
    text-decoration: none;
}
/*Todo lo referente al contenido login*/
.contenido{
    background-color: #D8D9D7;
    display: flex;
    flex-direction: column;
}
.contenidoLogin{
        background-color: #D8D9D7;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;;
}
.formularioLogin{
        background-color: #048ABF;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 5px;
        min-width: 300px;
}
.formularioLogin img{
    height: 200px;
    width: 200px;
    display: flex;
}
.imgLogin{
    margin-bottom: 60px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.contenedorDatos{
    font-display: flex;
    margin-top: 100px;
    margin-bottom: 40px;
}
.campoDatos{
    display: flex;
    margin-top: 10px;
    border-radius: 3px;
    border-style: none;
    justify-content: center;
    flex-direction: row;
}
.boton{
    display:flex;
    flex-direction: row;
    margin-top: 30px;
    border-radius: 3px;
    border-style: none;
    justify-content: center;

}
.boton button{
    background-color: #0378A6;
    color: #ffffff;
    border-style: none;
}

/*todo lo referente al footer*/
.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #6C6F73;
    display: flex;
    flex-direction: column;
  }
.contenido-footer {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.franja-redes {
    display:flex;
    background-color: #D8D9D7;
    justify-content:space-between;
    height: auto;
}
.franja-redes img{
    height: 30px;
    width: 30px;
}
.redes {
    margin-right: 15px;
}
.copyright a{
    margin-left: 30px;
}
.menuFooter{
    display: flex;
    align-items:flex-start;
    justify-content:end;
    flex-direction: column;
    color: #ffffff;
    margin-right: 30px;
}
.menuFooter a{
    color:  #000000;
    text-decoration: none;
}
.datosContacto{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}
.datosContacto img{
    height: 60px;
    width: 60px;
}
.certificados img{
    height: 60px;
    margin-left: 30px;
}
.vigilado{
    text-align: center;
    color: #ffffff;
 
}
.menuEnlaces{
    display: flex;
    justify-content: end;
}